<section class="w-1/2 mx-auto">
    <h1 class=" pb-5 text-gray-700 font-normal text-2xl">Forgot Password :</h1>

    @if (step == 1) {
        <form [formGroup]="verifyEmail" (ngSubmit)="stepEmail()" >
            <div>
    
                @let emailControl = verifyEmail.get('email') ;
    
                <label for="email" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">email :</label>
                <input formControlName="email" type="email" id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
                  
                  @if (emailControl?.errors && emailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                      role="alert">
                      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                      </svg>
                      <span class="sr-only">Danger</span>
                      <div>
              
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (emailControl?.getError('required')) {
                          <li>email is required</li>
                          }
                          @else if (emailControl?.getError('email')) {
                          <li>Please enter a valid email address.</li>
                          }
              
              
                        </ul>
                      </div>
                    </div>
                    }
            
                </div> 
    
            <button [disabled]="verifyEmail.invalid" type="submit" class="btn-mine mt-2">Verify Email</button>
        </form>
    } 
    @else if (step == 2 ) {
        <form [formGroup]="verifyCode" (ngSubmit)="stepCode()" >
            <div>
    
                @let resetCode = verifyCode.get('resetCode') ;
    
                <label for="resetCode" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">resetCode :</label>
                <input formControlName="resetCode" type="text" id="resetCode"
                  class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
                  
                  @if (resetCode?.errors && resetCode?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                      role="alert">
                      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                      </svg>
                      <span class="sr-only">Danger</span>
                      <div>
              
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (resetCode?.getError('required')) {
                          <li>email is required</li>
                          }
                          @else if (resetCode?.getError('pattern')) {
                          <li>Please enter a valid code.</li>
                          }
                        </ul>
                      </div>
                    </div>
                    }
            
                </div> 
    
            <button [disabled]="verifyEmail.invalid" type="submit" class="btn-mine mt-2">Verify Code</button>
        </form>
    } 
    @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="stepPass()" >
            <div>
            
                @let reEmail = resetPassword.get('email') ;
            
                <label for="email" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">email :</label>
                <input readonly formControlName="email" type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
            
                @if (reEmail?.errors && reEmail?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
            
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (reEmail?.getError('required')) {
                            <li>email is required</li>
                            }
                            @else if (reEmail?.getError('email')) {
                            <li>Please enter a valid email address.</li>
                            }
            
            
                        </ul>
                    </div>
                </div>
                }
            
            </div>
            <div>
            
                @let rePassword = resetPassword.get('newPassword') ;
            
                <label for="newPassword" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">newPassword :</label>
                <input formControlName="newPassword" type="password" id="newPassword"
                    class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
            
                @if (rePassword?.errors && rePassword?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
            
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (rePassword?.getError('required')) {
                            <li>newPassword is required</li>
                            }
                            @else if (rePassword?.getError('pattern')) {
                            <li>Please enter a valid newPassword address.</li>
                            }
            
            
                        </ul>
                    </div>
                </div>
                }
            
            </div>
    
            <button [disabled]="resetPassword.invalid" type="submit" class="btn-mine mt-2">Reset</button>
        </form>
    }
    

</section>