<section class="w-1/2 mx-auto  ">
    <h1 class=" pb-5 text-gray-700 font-normal text-2xl">{{'login.loginNow' | translate}}</h1>
  
    <form [formGroup]="login" (ngSubmit)="submitForm()">
     
      <div class="mb-1">
        @let emailControl = login.get('email') ;
  
        <label for="email" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">{{'login.email' | translate}}</label>
        <input formControlName="email" type="email" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
  
        @if (emailControl?.errors && emailControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
  
            <ul class="mt-1.5 list-disc list-inside">
              @if (emailControl?.getError('required')) {
              <li>email is required</li>
              }
              @else if (emailControl?.getError('email')) {
              <li>Please enter a valid email address.</li>
              }
  
  
            </ul>
          </div>
        </div>
        }
  
      </div>
      <div class="mb-1">
        @let passwordControl = login.get('password') ;
  
        <label for="password" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">{{'login.password' | translate}}</label>
        <input formControlName="password" type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">
  
        @if (passwordControl?.errors && passwordControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
  
            <ul class="mt-1.5 list-disc list-inside">
              @if (passwordControl?.getError('required')) {
              <li>password is required</li>
              }
              @else if (passwordControl?.getError('pattern')) {
              <li>Please enter a valid password.</li>
              }
  
  
            </ul>
          </div>
        </div>
        }
  
      </div>

      <a routerLink="/forgot" role="button" class="text-green-600 px-5"  > Reset Password </a>

      <button [disabled]="isLoading" type="submit" class="btn-mine mt-2">{{'login.SignIn' | translate}}
  
        <span>
          @if (isLoading) {
          <i class="fas fa-spin fa-spinner"></i>
          }
        </span>
  
      </button>
  
      @if (messageError) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
  
          <ul class="mt-1.5 list-disc list-inside">
            <li>{{messageError}}</li>
  
          </ul>
        </div>
      </div>
      }
  
    </form>
  
  </section>