<section class="w-1/2 mx-auto  ">
  <h1 class=" pb-5 text-gray-700 font-normal text-2xl">Register Now :</h1>

  <form [formGroup]="register" (ngSubmit)="submitForm()">
    <div class="mb-1">
      @let nameControl = register.get('name');

      <label for="name" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">name :</label>
      <input formControlName="name" type="text" id="name"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">

      @if (nameControl?.errors && nameControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (nameControl?.getError('required')) {
            <li>name is required.</li>
            }
            @else if (nameControl?.getError('minlength')) {
            <li>name must be at least 3 characters long.</li>
            }
            @else if (nameControl?.getError('maxlength')) {
            <li>name must be no longer than 20 characters.</li>
            }

          </ul>
        </div>
      </div>
      }

    </div>
    <div class="mb-1">
      @let emailControl = register.get('email') ;

      <label for="email" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">email :</label>
      <input formControlName="email" type="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">

      @if (emailControl?.errors && emailControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>email is required</li>
            }
            @else if (emailControl?.getError('email')) {
            <li>Please enter a valid email address.</li>
            }


          </ul>
        </div>
      </div>
      }

    </div>
    <div class="mb-1">
      @let passwordControl = register.get('password') ;

      <label for="password" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">password :</label>
      <input formControlName="password" type="password" id="password"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">

      @if (passwordControl?.errors && passwordControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (passwordControl?.getError('required')) {
            <li>password is required</li>
            }
            @else if (passwordControl?.getError('pattern')) {
            <li>Please enter a valid password.</li>
            }


          </ul>
        </div>
      </div>
      }

    </div>
    <div class="mb-1">
      <label for="rePassword" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">rePassword :</label>
      <input formControlName="rePassword" type="password" id="rePassword"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">

      @if (register.getError('mismatch') && register.get('rePassword')?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            <li>Password confirmation is incorrect</li>

          </ul>
        </div>
      </div>
      }

    </div>
    <div class="mb-1">
      @let phoneControl = register.get('phone') ;
      <label for="phone" class="block mb-2 text-sm font-normal text-gray-700 dark:text-white">phone :</label>
      <input formControlName="phone" type="tel" id="phone"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600">

      @if (phoneControl?.errors && phoneControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (phoneControl?.getError('required')) {
            <li>phone is required</li>
            }
            @else if (phoneControl?.getError('pattern')) {
            <li>Please enter a valid phone.</li>
            }


          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="isLoading" type="submit" class="btn-mine mt-2">Register

      <span>
        @if (isLoading) {
        <i class="fas fa-spin fa-spinner"></i>
        }
      </span>

    </button>

    @if (messageError) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>

        <ul class="mt-1.5 list-disc list-inside">
          <li>{{messageError}}</li>

        </ul>
      </div>
    </div>
    }

  </form>

</section>