
<section>
    <div 
    class="grid grid-cols-1 md:grid-cols-[70%_minmax(0,1fr)] gap-4"
    >
        <div>
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide>
                    <img src="/images/img1.avif" class="w-full h-[300px] " alt="img1">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img2.avif" class="w-full h-[300px] " alt="img2">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img3.avif" class="w-full h-[300px] " alt="img3">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img4.avif" class="w-full h-[300px] " alt="img4">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img5.avif" class="w-full h-[300px] " alt="img5">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img6.avif" class="w-full h-[300px] " alt="img6">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img7.avif" class="w-full h-[300px] " alt="img7">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div>
            <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">
            <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
        </div>
    </div>
    
</section>

<section>
    <h2 class="text-4xl pb-3" >Shop Popular Ctegories</h2>
    <owl-carousel-o [options]="customOptions">
      @for (cat of categories; track cat._id) {
        <ng-template carouselSlide >
            <div>
                <img  class="h-[250px]  object-fit" [src]="cat.image" [alt]="cat.name">
                <h3 class="text-green-600 ">{{cat.name}}</h3>
            </div>
        </ng-template>
      }
    </owl-carousel-o>
</section>

<section class="pt-10">
    <!-- <h2 class="text-4xl">Popular Products</h2>   -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 ">
        @for (produ of products.slice(0,12); track produ.id) {
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative" >
                
                <div [routerLink]="['/details' , produ._id]">
                    <div class="card-img">
                        <img [src]="produ.imageCover" class="w-full h-[250px] object-contain " [alt]="produ.title" />
                    </div>
                    <div class="card-body px-2 py-4">
                        <h4 class="text-green-500 text-xs">{{produ.category.name}}</h4>
                        <h3 class="font-medium">{{produ.title.split(' ', 2).join(" ")}}</h3>
                        <div class="flex justify-between items-center">
                            <span> {{produ.price}} EGP</span>
                            <div class="flex items-center">
                                <i class="fas fa-star text-yellow-300"></i> <span class="text-gray-500">{{produ.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div> 
                </div>
                
                <div class="flex gap-3 items-center justify-between ibtn ">
                    <button
                    (click)="addToCart(produ.id)"
                    class="bg-green-600 block text-white py-2 px-10 border rounded w-[75%] mx-auto " 
                   >+Add To Cart</button>
                   <i (click)="addToWishList(produ.id)" 
                   (click)="toggleWishList(produ.id)"
                    [class.text-red-500]="wishlist.has(produ.id)"
                   class="fa-solid fa-heart w-[15%] text-2xl"></i>
                   
                </div>


            </div>
          }
    </div>
</section>
